{% include base_path %}

<link rel="icon" type="image/png" href="{{ base_path }}/images/site-logo.png">
<link rel="apple-touch-icon" href="{{ base_path }}/images/site-logo.png">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg" color="#173f67">
<meta name="theme-color" content="#173f67">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css">

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "all" } },
    tex2jax: {
      inlineMath: [ ["$", "$"], ["\\(", "\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML" async></script>
